*{
  margin:0px;
  padding:0px;
}
.product-container{
  text-align: center;
  height:35px;
  width: 100%;
  background-color: rgb(48, 47, 47);
  color: white;
  padding:2px;
  margin:2px
  
}
.product-container:hover{
  background-color: black;
}
.song-name{
  cursor: pointer;;
}
.app-min{
  position:fixed;
  bottom:0px;
  width: 100%;
}
.player-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  left:45%;
  height:60vh;
  width: 95%;
  background-color: black;
  border-radius:20px;
  margin:auto;
  margin-top:10px;
  box-shadow: 1px 1px 10px 5px rgb(1, 1, 97);

}
.player-card i{
  color: rgb(129, 76, 2);
  font-size:40px;
  margin:5px;
}
.player-card i:hover{
  color: rgb(249, 146, 1);
}
.song-name{
  color: white;
}
.Artist-name{
  color: white;
}